<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ujjawalgupta29.leetcode_back_end.mappers.ProblemMapper">

    <resultMap id="ProblemResultMap" type="Problem">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
    </resultMap>

    <select id="getAllProblems" resultMap="ProblemResultMap">
        SELECT * FROM Problem
    </select>

    <select id="getProblem" resultMap="ProblemResultMap">
        SELECT * FROM Problem
        where id = #{id}
    </select>

</mapper>
